.navbar {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
}

.links {
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    left: 10%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration:none;
}
a:hover {
  color: #535bf2;
}