* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-task-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.add-task-logo {
    width: 500px;
    height: 80px;
    overflow: hidden;
    background-color: aliceblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add-task-logo > img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.add-task-box {
    width: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    background-color: #040450;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.add-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.add-form > label {
    flex: 1;
    font-weight: bold;
}

.add-form > input[type="text"],
.add-form > input[type="date"] {
    flex: 2;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 6px;
}

.add-form > input[type="checkbox"] {
    transform: scale(1.3);
    margin-left: 10px;
}

.add-btn-div {
    display: flex;
    justify-content: center;
}

.add-sub-btn {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.add-sub-btn:hover {
    background-color: #444;
}
