@tailwind base;
@tailwind components;
@tailwind utilities;

.add-task-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 500;
  border-radius: 0.375rem;
  width: 100%;
  height: 50%;
  font-size: 8px;
  color: var(--muted-foreground);
  padding-left: 2px;
  padding-right: 2px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 640px) {
  .add-task-btn {
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    opacity: 0;
  }
  .group:hover .add-task-btn {
    opacity: 1;
  }
}

.add-task-btn:hover {
  background-color: var(--accent);
  color: var(--foreground);
}

.add-task-btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--ring), 0 0 0 4px var(--background);
}

.add-task-btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.task-name {
  background-color: #bbf7d0;
  color: #166534;
  padding: 0.25rem;
  font-size: 8px;
  height: 2.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@media (min-width: 640px) {
  .task-name {
    font-size: 0.75rem;
  }
}

.task-name:hover {
  background-color: rgba(187, 247, 208, 0.4);
}

.dark .task-name {
  background-color: #065f46;
  color: #bbf7d0;
}

.dark .task-name:hover {
  background-color: rgba(6, 95, 70, 0.4);
}
