@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.profile-container {
  min-height: calc(100vh - 60px); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


.profile-card {
  position: relative;
  width: 90%;              
  max-width: 32rem;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  overflow: visible;
  padding-top: 3rem;
}

.personal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.personal img {
  position: absolute;
  top: -4.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 3px solid #b0acac;
  background: #fff;
  padding: 0.5rem;
}

.personal .changeDetails{
  display: flex;
  flex-direction: row;
}

.personal svg{
  font-size: 1.5rem;
  color: #555;
  transition: 0.2s;
  cursor: pointer;
  border:1px solid #434141 ;
  border-radius: 0.5rem;
  width:2.5rem;
  margin-left: 13rem;
}
.personal .name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #434141;
  margin-top: 0.8rem;
}

.personal .number,.role,.institution {
  font-size: 1rem;
  color: #777;
}

.social {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.social svg {
  font-size: 1.5rem;
  color: #555;
  transition: 0.2s;
  cursor: pointer;
  border: none;
  margin-left: 0;
}

.social svg:hover {
  color: #000;
  transform: scale(1.1);
}

.skills {
  padding: 1.6rem 1rem;
  border-top: 1px solid #eee;
  margin-top: 1rem;
}

.skills h5 {
  margin-top: -0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #444;
  letter-spacing: 1px;
}

.skills ul li {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #a29b9b;
  border-radius: .4rem;
  padding: .4rem .8rem;
  margin: .3rem .2rem;
  background: #fefefe;
  transition: 0.2s;
  color: #000;
  box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.15);
}

.skills ul li:hover {
  background: #f0f0f0;
  border-color: #ccc;
}
